@media only screen and(max-width: 800px) {
    $text-color: hsl(0, 0%, 2%);
    $h1-size: 55px;
    html {
        margin: 0;
        padding: 0;
    }
    body {
        font: 75% georgia, sans-serif;
        line-height: 1.88889;
        color: $text-color;
        background: #e7e1e1 url(/Zen_Gardens/css/img/zen_background_small.jpg) no-repeat;
        background-size: 2500px 900px;
        margin: 0;
        text-align: center;
        width: 70%;
        padding: 15px;
    }
    h1 {
        font-size: $h1-size;
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0;
    }
    .page-wrapper {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 41px;
        height: 300px;
        grid-template-rows: repeat(3, 1fr);
    }
    .intro {
        position: unset;
        grid-column-end: 1/span 2;
    }
    header {
        font-size: larger;
        text-align: center;
        background-color: rgb(62, 128, 82);
        grid-column: 2;
        grid-row: 1;
    }
    .summary {
        text-align: center;
        grid-row: 2;
        grid-column: 1/ span 2;
        border: 1px solid powderblue;
    }
    .preamble {
        background-color: rgb(186, 231, 231);
        text-align: center;
        grid-row: 2;
    }
    .main,
    zen-supporting {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 41px;
    }
    .explanation {
        background-color: #eca7a7;
    }
    .participation {
        grid-column: 1;
        grid-row: 2;
        position: relative;
        grid-template-rows: subgrid;
    }
    .benefits {
        grid-column: 2;
        grid-row: 1;
    }
    .requirements {
        grid-row: 2;
        grid-column: 2;
    }
    footer {
        grid-column: 1/span 2;
        grid-row: 5;
        background-color: powderblue;
        text-align: center;
        height: 40px;
    }
    .wrapper {
        text-align: center;
        display: grid;
        grid-area: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        ul {
            list-style-type: none;
        }
    }
}